body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    text-align: center;
    color: #FFD700;
    margin-top: 30px;
    font-size: 60px;
    text-shadow: 0 0 10px rgba(255, 68, 0, 0.7);
    letter-spacing: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:60vh;
    margin-top: 50px;
}

.inicio_sesion {
    background-color: #1c1c1c;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px #FFD700;
    text-align: center;
    width: 350px;
}

.inicio_sesion h2 {
    color: #FFD700;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
    letter-spacing: 2px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #000;
    color: #FFD700;
    border: 1px solid #FFD700;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #FFD700;
    opacity: 0.6;
}

.btn {
    padding: 12px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

.btn-primary {
    background-color: #FFD700;
    color: #000;
}

.btn-primary:hover {
    background-color: #e6c200;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
}

.btn-secondary:hover {
    background-color: #ccc;
}
